.report-page-scale,
.report-page {
  width: 210mm;
  height: 297mm;
}

.report-page-scale {
  transform-origin: top left;
}

.report-page {
  position: relative;
  overflow: hidden;
  color: #111;
  background: #fff;
}
